<div class="login-view">
  <div>
    <img class="info-img" src="assets/img/info.png">

    <p>لتتمكن من الدخول او انشاء حساب جديد على سباتولا الرجاء التسجيل بواسطة اي من الحسابات التالية الخاصة بك </p>
    <div class="social-icons">
      <div (click)="twitterLogin()"><img src="assets/img/twitter.png" /></div>
      <!-- <div (click)="insta()"><img src="assets/img/insta.png" /></div> -->
      <div (click)="faceLogin()"><img src="assets/img/facebook.png" /></div>
    </div>
  </div>

</div>
<div class="help" (click)="shared.openLink('whats')">
  <img src="assets/img/whatsapp.png" />
  <p>للمساعدة. اضغطي هنا للتواصل عبر الواتساب.</p>
</div>