<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<div id="intro1">
  <div class="intro-login-button">
    <img src="assets/img/loginButton.png" (click)="enter()" />
  </div>
  <div>
    <p>جميع الحقوق محفوظة لحنان العابد</p>
    <p style="padding-right: 25px; padding-left: 25px;">All copyrights reserved, Hanan Alabed</p>
    <p style="padding-right: 25px; padding-left: 25px;;font-size: 10px; font-weight: 100;">Proudly powered by
      Shetewy-Tech</p>
  </div>
</div>
<div id="intro2">
  <img src="assets/img/spatulaHead.png" />
  <div class="intro-login-button">
    <img src="assets/img/loading.gif" />
  </div>
  <div>
    <p>جميع الحقوق محفوظة لحنان العابد</p>
    <p style="padding-right: 25px; padding-left: 25px;">All copyrights reserved, Hanan Alabed</p>
    <p style="padding-right: 25px; padding-left: 25px;font-size: 10px; font-weight: 100;">
      Proudly powered by
      Shetewy-Tech</p>
  </div>
</div>
<div id="intro3">
  <div class="intro">
    <img src="assets/img/intro.png" />
    <img src="assets/img/today.png" />
    <button (click)="discover()">لنستكشف</button>
  </div>
  <div class="help" (click)="shared.openLink('whats')">
    <img src="assets/img/whatsapp.png" />
    <p>للمساعدة. اضغطي هنا للتواصل عبر الواتساب.</p>
  </div>
</div>
