<!-- <ion-header>
  <ion-toolbar>
    <ion-title>SelectLogin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<div class="select-login">
  <img src="assets/img/spatulaHead.png" />
  <div>
    <p> مرحبا بكِ في تطبيق سباتولا، أول تطبيق مختص بالكيك والحلويات عربياً. بإشراف الشيف الليبي حنان العابد. </p>
    <button (click)="login()">التسجيل </button>
    <button (click)="login()">الدخول </button>
  </div>

</div>
<div class="help" (click)="shared.openLink('whats')">
  <img src="assets/img/whatsapp.png" />
  <p>للمساعدة. اضغطي هنا للتواصل عبر الواتساب.</p>
</div>